main {
  height: auto;
  width: auto;
  margin-left: 350px;
}

/* Navbar CSS*/
.navbar {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.nav-items {
  display: flex;
  flex-wrap: nowrap;
  padding: 5px;
}

.items {
  padding: 5px;
}

.container {
  padding-right: 0;
}

.nav-items a {
  text-decoration: none;
  margin-right: 10px;
  color: black
}


/* Content Page CSS*/

/* Projects CSS */



/* Social Page CSS*/
.side-container {
  position: fixed;
  left: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  width: 200px;
  height: 100%;
  overflow-y: none;
}

.side-container > a {
  padding: 15px;
}

.side-items {
  position: absolute;
  width: 100%;
  display: flex;
  bottom: 0;
  flex-direction: column;
  align-items: center;
}

.side-items > a {
  padding: 20px;
}