:root {
background-image: linear-gradient(to left, #002844, #0a2943, #122942, #172a40, #1c2b3f, #1d2a3d, #1e293c, #1f283a, #1d2537, #1b2335, #1a2032, #181e30);
}

main {
  height: auto;
  margin-right: 370px;
  margin-left: 390px;
}

/* Navbar CSS--------------------------------------------------------------------------------*/
.navbar {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  z-index: 1;
}

.nav-items {
  display: flex;
  flex-wrap: nowrap;
  padding: 8px;
}

.container {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: nowrap;
  justify-content: space-between;
  margin-right: 15%
}

.nav-items a {
  text-decoration: none;
  margin-right: 40px;
  color: white;
  padding: 10px;
}

/* Content Page CSS---------------------------------------------------------------------------*/
.items-content > h1 {
  font-size: 5.5em;
  margin: 0;
  color: hsla(280, 100%, 82%, 1);
  z-index: 2;
  position: relative;
}

.items-content >  h2 {
  font-size: 4.5em;
  margin: 0;
  color: hsla(313, 71%, 90%, 1)
}

.items-content > h3 {
  color: hsla(313, 71%, 90%, 1);
  margin: 0;
}

.items-content > p {
  margin-top: 2.5%;
  color: hsla(313, 71%, 90%, 1);
  margin-bottom: 5%;
}

.content-section {
  margin-top: 12%;
  margin-left: 2.5%;
  margin-bottom: 10%;
  display: flow-root;
  position: relative;
  height: 70vh;
}

.items-content {
}

.content-container {
  position: absolute;
  width: 100%;
}

.img {
  position: absolute;
  right: 0;
  top: 0;
  margin-right: 10%;
  float: right;
  z-index: -1;
  border-radius: 5%;
  height: 400px;
  width: 290px;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
}

/* Social Page CSS---------------------------------------------------------------------------*/
.side-container {
  position: fixed;
  left: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  width: 200px;
  height: 100%;
  overflow-y: none;
}

.side-container > a {
  padding: 15px;
}

.side-items {
  position: absolute;
  width: 100%;
  display: flex;
  bottom: 0;
  flex-direction: column;
  align-items: center;
}

.side-items > a {
  padding: 20px;
}

.fontawesome-icons {
  font-size: 1.5em;
  color: white; 
  position: relative;
  transition: 0.2s ease-out;
}


/* Contact CSS--------------------------------------------------------------------------------*/
.reach-out {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.contact-section {
  align-items: center;
  margin-top: 8%;
  margin-bottom: 5%;
}

.reach-out > h1 {
  font-size: 3.5em;
  margin: 0;
  color: hsl(280, 100%, 82%, 1);
}

.reach-out > h4 {
  margin: 0px;
  color: white;
}

.paragraph {
  width: 40%;
  font-size: 1.1em;
  font-weight: 400px;
  color: hsla(313, 71%, 90%, 1);
}

/* Projects CSS------------------------------------------------------------------------------ */
.grid-container {
  display: grid;
  grid-gap: 0.5rem;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr))
}

.image-one-col-span-two {
  grid-column: 1 / 2;
  position: relative;
  grid-column-end: span col2-start;
}

.image-one-col-span-two > img {
  height: 360px;
  width: 530px;
}

.text-col-span-two{
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  background-image: linear-gradient(to right top, #2c385e, #2c385e, #2c385e, #2c385e, #2c385e);
  border-radius: 1%;
  height: 250px;
  width: 550px;
  color: white;
  font-size: 1.5em;
  grid-column: 1;
}
.image-two-col-span-two {

}

.image-two-col-span-two > img {
  height: 360px;
  width: 530px;
}

.text-two-col-span-two {
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  background-image: linear-gradient(to right top, #2c385e, #2c385e, #2c385e, #2c385e, #2c385e);
  border-radius: 1%;
  height: 250px;
  width: 550px;
  color: white;
  font-size: 1.5em;
}
.image-three-col-span-two {
  height: 100%;
  width: 100%;
}

.image-three-col-span-two > img {
  height: 360px;
  width: 530px;
}

.text-three-col-span-two {
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  background-image: linear-gradient(to right top, #2c385e, #2c385e, #2c385e, #2c385e, #2c385e);
  border-radius: 1%;
  height: 250px;
  width: 550px;
  color: white;
  font-size: 1.5em;
}