main {
  text-align: center;
  vertical-align: center;
  height: 100%;
  width: 100%;
}

.navbar {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.nav-items {
  display: flex;
  flex-wrap: nowrap;
  margin-right: 5%
}

.items {
  padding: 5px;
}

.container {
  padding-right: 0;
}

.nav-items a {
  text-decoration: none;
  margin-right: 40px;
  color: black
}