:root {
background-image: linear-gradient(to right top, #325a78, #345572, #35516c, #364c65, #36485f, #31475d, #2b455a, #264457, #1a4554, #0f4650, #08464a, #0b4642);
}

main {
  height: auto;
  width: auto;
  margin-left: 400px;
}

/* Navbar CSS*/
.navbar {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.nav-items {
  display: flex;
  flex-wrap: nowrap;
  padding: 5px;
}

.items {
  padding: 5px;
}

.container {
  padding-right: 0;
}

.nav-items a {
  text-decoration: none;
  margin-right: 10px;
  color: black
}




/* Content Page CSS*/
.items-content > h1 {
  font-size: 5.5em;
  margin: 0;
  color: hsla(280, 100%, 82%, 1);
}

.items-content >  h2 {
  font-size: 4.5em;
  margin: 0;
  color: hsla(313, 71%, 90%, 1)
}

.items-content > h3 {
  color: hsla(313, 71%, 90%, 1);
  margin: 0;
}

.items-content > p {
  margin-top: 2.5%;
  color: hsla(313, 71%, 90%, 1);
  margin-bottom: 5%;
}

.content-section {
  margin-top: 12%;
  margin-left: 2.5%;
  margin-bottom: 20%;
}

.items-content {
  position: relative;
}

.content-container {
  width: auto;
  position: absolute;
}

.picture-me > img {
  float: right;
  margin-right: 34%;
  z-index: 2;
  border-radius: 5%;
  height: 400px;
  width: 290px;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
  filter: grayscale(100%);
}
  
.picture-me {
  position: relative;
}

/* Projects CSS */
.grid-container {
  display: grid;
  grid-template-columns: 1fr;
  margin-bottom: 15%;
}

.the-grid {
  position: relative;
  margin-top: 60%;
  margin-left: 3%;
}

.grid-container > h1 {
  font-size: 3em;
  padding: 15px;
}


/* Social Page CSS*/
.side-container {
  position: fixed;
  left: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  width: 200px;
  height: 100%;
  overflow-y: none;
}

.side-container > a {
  padding: 15px;
}

.side-items {
  position: absolute;
  width: 100%;
  display: flex;
  bottom: 0;
  flex-direction: column;
  align-items: center;
}

.side-items > a {
  padding: 20px;
}